@model ShowCase.ViewModel.Profile.ProfileEditUserViewModel

<div class="container mt-2">
    <div class="row p-0 min-vh-100">
       
        <div class="my-style col-lg-2 col-md-3 p-2 mr-auto">
            <partial name="_DisplayProfileSidebarPartial">
        </div>
        

        <div class="col-lg-10 col-md-9 p-2 ml-auto">
            <div class="container">
                <!-- Personal Information Information Row -->
                <div class="row bg-white shadow-sm mb-4">
                    <div class="col-12 px-4 pb-1">

                        <div class="row p-2 mb-2">
                            <div class="h4 text-secondary text-left">
                                My Information
                            </div>
                        </div>

                        <form method="post" asp-controller="Profile" asp-action="EditUserInformation">
                            <input asp-for="@Model.User.Id" hidden />

                            <div class="form-row">
                                <div class="col-md-4 mb-3">
                                    <label asp-for="@Model.User.FirstName"></label>
                                    <input asp-for="@Model.User.FirstName" class="form-control" />
                                    <span asp-validation-for="@Model.User.FirstName" class="text-danger"></span>
                                </div>

                                <div class="col-md-4 mb-3">
                                    <label asp-for="@Model.User.LastName"></label>
                                    <input asp-for="@Model.User.LastName" class="form-control" />
                                    <span asp-validation-for="@Model.User.LastName" class="text-danger"></span>
                                </div>

                                <div class="col-md-4 mb-3">
                                    <label asp-for="@Model.User.UserName"></label>
                                    <div class="input-group">
                                        <div class="input-group-prepend">
                                            <span class="input-group-text">&#64;</span>
                                        </div>
                                        <input asp-for="@Model.User.UserName" disabled class="form-control" />
                                    </div>
                                </div>

                            </div>

                            <div class="form-group row">
                                <div class="col-2 col-md-4 col-sm-12">
                                    <button type="submit" class="btn btn-block btn-primary">Update</button>
                                </div>
                                <a href="#" class="ml-auto mr-3 text-warning font-weight-bold">Change Password</a>
                            </div>

                        </form>

                    </div>
                </div>

                <!-- Address Information Row -->
                <div class="row bg-white shadow-sm mb-4 h-25">
                    <div class="col-12 px-4 pb-1">

                        <div class="row p-2 mb-2">
                            <div class="h4 text-secondary text-left">
                                Address Information
                            </div>
                        </div>

                        <form method="post" asp-controller="Profile" asp-action="EditOrCreateUserAddress">
                            <!--
                            <input asp-for="@Model.User.Id" hidden />
                            <input asp-for="@Model.User.FirstName" hidden />
                            <input asp-for="@Model.User.LastName" hidden />
                            -->


                            <div class="form-row">
                                <div class="col-md-4 mb-3">
                                    <label asp-for="@Model.Address.District"></label>
                                    <input asp-for="@Model.Address.District" class="form-control" />
                                    <span asp-validation-for="@Model.Address.District" class="text-danger"></span>
                                </div>

                                <div class="col-md-8 mb-3">
                                    <label asp-for="@Model.Address.Street"></label>
                                    <input asp-for="@Model.Address.Street" class="form-control" />
                                    <span asp-validation-for="@Model.Address.Street" class="text-danger"></span>
                                </div>
                            </div>

                            <div class="form-row">
                                <div class="col-md-4 mb-3">
                                    <label asp-for="@Model.Address.City"></label>
                                    <input asp-for="@Model.Address.City" class="form-control" />
                                    <span asp-validation-for="@Model.Address.City" class="text-danger"></span>
                                </div>

                                <div class="col-md-4 mb-3">
                                    <label asp-for="@Model.Address.ZipCode"></label>
                                    <input asp-for="@Model.Address.ZipCode" class="form-control" />
                                    <span asp-validation-for="@Model.Address.ZipCode" class="text-danger"></span>
                                </div>

                                <div class="col-md-4 mb-3">
                                    <label asp-for="@Model.Address.POBox"></label>
                                    <input asp-for="@Model.Address.POBox" class="form-control" />
                                    <span asp-validation-for="@Model.Address.POBox" class="text-danger"></span>
                                </div>
                            </div>

                            <div class="form-group row">
                                <div class="col-2 col-md-4 col-sm-12">
                                    <button type="submit" class="btn btn-block btn-primary">Update</button>
                                </div>
                            </div>
                        </form>


                    </div>
                </div>

                <!-- Payment Information Row -->
                <div class="row bg-white shadow-sm mb-4 h-25">
                    <div class="col-12 px-4 pb-1">

                        <div class="row p-2 mb-2">
                            <div class="h4 text-secondary text-left">
                                Payment Information
                            </div>
                        </div>

                        <form method="post" asp-controller="Profile" asp-action="EditOrCreatePaymentMethod">
                            <!--
                            <input asp-for="@Model.User.Id" hidden />
                            <input asp-for="@Model.User.FirstName" hidden />
                            <input asp-for="@Model.User.LastName" hidden />
                            -->

                            <div class="form-row">
                                <div class="col-md-4 mb-3">
                                    <label asp-for="@Model.PaymentMethod.Type"></label>
                                    <input asp-for="@Model.PaymentMethod.Type" class="form-control" />
                                    <span asp-validation-for="@Model.PaymentMethod.Type" class="text-danger"></span>
                                </div>

                                <div class="col-md-4 mb-3">
                                    <label asp-for="@Model.PaymentMethod.HolderName"></label>
                                    <input asp-for="@Model.PaymentMethod.HolderName" class="form-control" />
                                    <span asp-validation-for="@Model.PaymentMethod.HolderName" class="text-danger"></span>
                                </div>

                                <div class="col-md-4 mb-3">
                                    <label asp-for="@Model.PaymentMethod.ExpiresAt"></label>
                                    <input asp-for="@Model.PaymentMethod.ExpiresAt" class="form-control" />
                                    <span asp-validation-for="@Model.PaymentMethod.ExpiresAt" class="text-danger"></span>
                                </div>
                            </div>

                            <div class="form-row">
                                <div class="col-md-4 mb-3">
                                    <label asp-for="@Model.PaymentMethod.CardNumber"></label>
                                    <input asp-for="@Model.PaymentMethod.CardNumber" class="form-control" />
                                    <span asp-validation-for="@Model.PaymentMethod.CardNumber" class="text-danger"></span>
                                </div>

                                <div class="col-md-4 mb-3">
                                    <label asp-for="@Model.PaymentMethod.CVCCode"></label>
                                    <input asp-for="@Model.PaymentMethod.CVCCode" class="form-control" />
                                    <span asp-validation-for="@Model.PaymentMethod.CVCCode" class="text-danger"></span>
                                </div>
                            </div>

                            <div class="form-group row">
                                <div class="col-2 col-md-4 col-sm-12">
                                    <button type="submit" class="btn btn-block btn-primary">Update</button>
                                </div>
                            </div>
                        </form>


                    </div>
                </div>

                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            </div>
        </div>
    </div>
</div>


@section Scripts{
    @{
        <partial name="_ValidationScriptsPartial" />
    }
}