@model ShowCase.ViewModel.Order.OrderDetailsViewModel


<div id="main-details-container" class="container">
    <div class="row d-flex align-items-center my-2">
        <a class="mr-auto" asp-action="Index">
            <i class="fas fa-long-arrow-alt-left fa-3x">
            </i>
        </a>

        <p class="h4 mr-auto">Order Details</p>
    </div>


    <div class="card bg-white border-left-0 border-right-0 border-warning shadow-sm py-3">
        <div class="container">
            
            <div class="row d-flex py-1 px-4">
                <div class="title h4 text-warning mr-auto">Purchase Reciept</div>
                <div class="ml-auto">
                    @if (Model.Invoice.IsConfirmed)
                    {
                        <i class="far fa-check-circle fa-2x text-success"></i>
                    }
                    else
                    {
                        <a href="#" class="confirm-order btn btn-info"
                           data-id="@Model.Invoice.Id">
                            Confrim Order
                            <i class="fas fa-exclamation mx-1"></i>
                        </a>
                    }
                </div>
            </div>

            <hr class="mb-4" />

            <div class="row mt-2 mb-4">
                <div class="col-4">
                    <div class="text-left">
                        <span class="text-secondary">Date</span>
                        <br>
                        <span>@Model.Invoice.CreatedAt</span>
                    </div>
                </div>

                <div class="col-4">
                    <div class="text-center">
                        <span class="text-secondary">Order No</span>
                        <br>
                        <span>@Model.Invoice.Id</span>
                    </div>
                </div>

                <div class="col-4">
                    <div class="text-center">
                        <span class="text-secondary">Items Qty</span>
                        <br>
                        <span>@Model.Invoice.TotalItems</span>
                    </div>
                </div>
            </div>

            <!-- Items List-->
            <div class="row bg-light my-2 py-2 px-4">
                @foreach (var item in Model.ProductInfo)
                {
                    <div class="col-9 mb-4">
                        <div class="row">
                            @item.Product.Name,<div class="text-secondary">&nbsp;Qty @item.Qty &nbsp;X @item.Product.Price SAR</div>
                            <div class="w-100"></div>
                            @item.Product.Description
                        </div>
                    </div>
                    <div class="col-3 mb-4">
                        <div class="align-self-center">
                            @(item.Product.Price * item.Qty) SAR
                        </div>
                    </div>
                }
            </div>
        </div>


        <hr class="mt-4" />

        <div class="row py-2 px-4">
            <div class="col-9"> <span id="name">Shipping</span> </div>
            <div class="col-3"> <span id="price">33.00 SAR</span> </div>
        </div>

        <div class="row px-4">
            <div class="col-9"> <span class="text-secondary" id="name">VAT</span></div>
            <div class="col-3"> <span class="text-secondary" id="price">@Model.Invoice.Vat %</span> </div>
        </div>

        <div class="row px-4">
            <div class="col-9"> <span class="text-secondary" id="name">Total (Exclude Vat)</span></div>
            <div class="col-3"> <span class="text-secondary" id="price">@Model.Invoice.TotalExcludeVat SAR</span> </div>
        </div>

        <div class="row px-4">
            <div class="col-9"> <span class="text-secondary" id="name">Total (Include Vat)</span></div>
            <div class="col-3"> <span class="text-warning" id="price">@Model.Invoice.TotalIncludeVat SAR</span> </div>
        </div>

    </div>

</div>


