@model ShowCase.ViewModel.ShoppingCart.SHPViewModel
@{
    var ImagePath = "~/images/no_image.png";
    var product_qty = 0;
    var total_payment = 0.00;
    var totla_payment_vat = 0.00;

}
<!--
<table class="table">
    <thead>
        <tr>
            <th>Product</th>
            <th>Price</th>
            <th>QTY</th>
            <th>Total</th>
        </tr>
    </thead>

    @if (Model != null)
    {

        @foreach (var product in Model.Products)
        {
            <tr>
                <td>@product.Name</td>
                <td>@product.Price</td>

                <td>
                    @foreach (var shoppingCart in Model.ShoppingCarts)
                    {
                        if (shoppingCart.ProductId == product.Id)
                        {
                            product_qty = shoppingCart.Qty;
                        }
                    }

                    @product_qty
                </td>

                <td>
                    @{ var total = product.Price * product_qty;
                        total_payment += total;
                    }
                    @total
                </td>

            </tr>
        }

    }
    else
    {
        <p>Shopping Cart is Null</p>
    }

</table>
-->

@if (Model != null)
{
    <div class="container p-0">

        <div class="row p-0">
            <!-- First Column: Listing Products in cart -->
            <div class="col-lg-8 mr-auto">
                <div class="row p-2">
                    <p class="h5"><strong>Products in Cart</strong></p>
                </div>

                @foreach (var product in Model.Products)
                {
                    <div class="row p-0 mb-2 mr-lg-2 bg-white shadow">
                        <div class="col-lg-2 col-md-2 col-sm-2 p-0">
                            <img src="~/images/no_image.png"
                                 class="img-fluid"
                                 width="150" height="180" />
                        </div>
                        <div class="col-lg-8 col-md-8 col-sm-8">
                            <p class="mb-1 font-weight-bold text-primary">@product.Name</p>
                            <p class="mb-1 text-secondary">@product.Description</p>
                            
                            <p class="mb-1 text-secondary">
                                @foreach (var shoppingCart in Model.ShoppingCarts)
                                {
                                    if (shoppingCart.ProductId == product.Id)
                                    {
                                        product_qty = shoppingCart.Qty;
                                    }
                                }

                                <strong>@product_qty</strong> Qty
                            </p>
                            
                            <p class="text-warning" style="position:absolute; bottom:0; margin-bottom:5px">
                                @product.Price SAR
                            </p>
                        </div>
                        <div class="col-lg-2 col-md-2 col-sm-2">
                            <div class="text-center">
                                <p class="text-danger"><strong>Actions</strong></p>
                            </div>
                        </div>
                    </div>
                }
            </div>

            <!-- Second Column: Order Summary -->
            <div class="col-lg-4 ml-auto px-4 py-2 shadow">
                
                <div class="text-center">
                    <p class="h5"><strong>Products in Cart</strong></p>
                </div>
                
                <hr style="border-top: 1px solid grey">

                <div class="row px-2 pt-4 mx-0 mt-5">
                    <p class="h6 text-secondary mr-auto mb-3"><strong>Total</strong> (Exlude Vat)</p>
                    <p class="h6 text-secondary ml-auto mb-3"><strong>@Math.Round(total_payment, 2) SAR</strong></p>

                    <div class="w-100"></div>

                    <p class="h6 text-secondary mr-auto">Shippment</p>
                    <p class="h6 font-weight-bold text-primary ml-auto"><strong>Free</strong></p>
                </div>

                <hr style="border-top: 1px solid grey">

                <div class="row px-2 mx-0 mt-5">
                    <p class="h6 text-secondary mr-auto"><strong>Total</strong> (Include Vat)</p>
                    <p class="h6 text-secondary ml-auto"><strong></strong>SAR</p>
                </div>

                <form method="post" asp-controller="" asp-action="">
                    <button type="submit" class="btn btn-primary btn-block mt-5 text-white">
                        CHECKOUT
                    </button>
                </form>

            </div>
        </div>

    </div>

}
else
{
    <p>Shopping Cart is Null</p>
}


