@using ShowCase.Utilities
@model IEnumerable<ShowCase.Models.Product>

@{
    ViewData["Title"] = "Home Page";
    
    Pager pager = new Pager();

    int pageNo = 0;
    if(ViewBag.Pager != null)
    {
        pager = ViewBag.Pager;
        pageNo = pager.CurrentPage;
    }
}


<div class="container px-0">
    <div class="row">
        <div class="col-lg-12 col-md-12">
            <div class="row">
                @if (Model.Count() > 0)
                {

                    @foreach (var product in Model)
                    {
                        <div class="col-lg-3 col-md-4 col-sm-6 mb-3 border">
                            <partial name="_DisplayProductPartial" model="product">
                        </div>
                    }
                }
                else
                {
                    <div class="text-center">
                        <h3 class="text-danger">No Products Available Yet !!!</h3>
                    </div>
                }
            </div>
        </div>
    </div>

    @if (pager.TotalPages > 0)
    {
        <ul class="pagination justify-content-end">

            <!-- Next & Last Buttons Links -->
            @if (pager.CurrentPage > 1) 
            { 
                <li class="page-item">
                    <a class="page-link" asp-controller="Home" asp-action="Index" asp-route-page="1">First</a>
                </li>
                <li class="page-item">
                    <a class="page-link" asp-controller="Home" asp-action="Index" asp-route-page="@(pager.CurrentPage - 1)">Previous</a>
                </li>
            }
            <!-- Pages Buttons Links -->
            @for (var pge = pager.StartPage; pge <= pager.EndPage; pge++)
            {
                <li class="page-item @(pge == pager.CurrentPage ? "active" : "") ">
                    <a class="page-link" asp-controller="Home" asp-action="Index" asp-route-page="@pge">@pge</a>
                </li>
            }


            <!-- Next & Last Buttons Links -->
            @if (pager.CurrentPage < pager.TotalPages) 
            { 
                <li class="page-item">
                    <a class="page-link" asp-controller="Home" asp-action="Index" asp-route-page="@(pager.CurrentPage + 1)">Next</a>
                </li>
                <li class="page-item">
                    <a class="page-link" asp-controller="Home" asp-action="Index" asp-route-page="@(pager.TotalPages)">Last</a>
                </li>
            }
        </ul>
    }
</div>
