@using ShowCase.Views.Shared.Components.SearchBar
@model SearchPager

<div class="row mt-2 justify-content-center">

    @if (Model.TotalPages > 0)
    {
        <ul class="pagination pagination-ul">
            <!-- Next & Last Buttons Links -->
            @if (Model.CurrentPage > 1)
            {
                <li class="page-item">
                    <a class="page-link" asp-controller="@Model.Controller" asp-action="@Model.Action" asp-route-page="1">
                        <i class="fas fa-arrow-alt-circle-left"></i>
                    </a>
                </li>
                <li class="page-item">
                    <a class="page-link" asp-controller="@Model.Controller" asp-action="@Model.Action" asp-route-page="@(Model.CurrentPage - 1)">
                        <i class="fas fa-chevron-left"></i>
                    </a>
                </li>
            }

            <!-- Pages Buttons Links -->
            @for (var pge = Model.StartPage; pge <= Model.EndPage; pge++)
            {
                <li class="page-item @(pge == Model.CurrentPage ? "active" : "") ">
                    <a class="page-link" asp-controller="Home" asp-action="Index" asp-route-page="@pge">@pge</a>
                </li>
            }

            <!-- Next & Last Buttons Links -->
            @if (Model.CurrentPage < Model.TotalPages)
            {
                <li class="page-item">
                    <a class="page-link" asp-controller="@Model.Controller" asp-action="@Model.Action" asp-route-page="@(Model.CurrentPage + 1)">
                        <i class="fas fa-chevron-right"></i>
                    </a>
                </li>
                <li class="page-item">
                    <a class="page-link" asp-controller="@Model.Controller" asp-action="@Model.Action" asp-route-page="@(Model.TotalPages)">
                        <i class="fas fa-arrow-alt-circle-right"></i>
                    </a>
                </li>
            }
        </ul>
    }
</div>
<div class="row mt-2 align-middle border border-primary bg-white rounded-pill pt-3">
    <div class="col-4 btn-group">
        @localizer["Showing"] @Model.StartRecord to @Model.EndRecord of @Model.TotalItems @localizer["Records"]
    </div>

    <div class="d-flex col-lg-4 col-md-4 col-sm-12 justify-content-center my-auto btn-group">
        <span class="col-4 col-md-6 p-0">
            @localizer["Products Per Page"]
        </span>
        <span class="d-flex col-3 col-md-6 p-1">
            <select class="form-control" id="pageSelector" asp-items="@ViewBag.PageSizes"
                    onchange="ChangePagesSize(this, '@Model.SearchText');">
            </select>
        </span>
    </div>

    <div class="d-flex col-lg-4 col-md-4 justify-content-end col-sm-12 justify-content-sm-center py-1">
        @localizer["Page"] @Model.CurrentPage / @Model.TotalPages @localizer["Pages"]
    </div>
</div>

<script>
    function ChangePagesSize(obj, searchtext) {
        window.location.href = "/@Model.Controller/@Model.Action"
            + "?pageSize=" + obj.value
            + "&SearchText=" + searchtext;
    }
</script>